.user_input {
    font-size: 1.3rem;
    width: 25%;

}

.user_input {
    font-size: 2.5rem;
}

.user_input p {
    font-size: 1.5rem;
}

input {
    font-size: 2rem;
    padding: 0.3 0.8;
}

.btn-current,
.btn-search {
    font-size: 1.5rem;
}

.btn-current {
    top: -40px;
}

#map {
    width: 65%;
}

.country-details {
    width: 20%;
    height: 42%;
    right: 6%;
}

.country_name {
    font-size: 2.5rem;
}

.country_region,
.country_row {
    font-size: 1.5rem;
}

.country_img {
    height: 39%;
}