header {
    font-size: 2rem;
    width: 100%;
    height: 5%;
}

.user_input {
    top: 11%;
    left: 4%;
    font-size: 1rem;
    width: 50%;
}

.user_input p {
    font-size: 0.8rem;
}

input {
    font-size: 1rem;
}

.btn-search,
.btn-current {
    font-size: 0.7rem;
}

#map {
    top: 50%;
    left: 4%;
    width: 93%;
    height: 45%;
}

.country-details {
    /* border: 2px solid black; */
    margin-bottom: 10rem;
    top: 10%;
    right: 10%;
    width: 30%;
    height: 35%;
}

.country_img {
    height: 35%;
}

.country_name {
    font-size: 1.2rem;
}

.country_region,
.country_row,
.country_row span {
    font-size: 0.9rem;
}

.country_row:not(:last-child) {
    margin-bottom: 0.5rem;
}

footer {
    font-size: 0.5rem;
    bottom: 0;
}